[Unit]
Description=Lichess discord bot server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=thijs
ExecStart=/home/thijs/Lichess-discord-bot/run

[Install]
WantedBy=multi-user.target