aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
chess==1.4.0
cssselect2==0.4.1
dblpy==0.4.0
defusedxml==0.7.1
discord==1.0.1
discord.py==1.6.0
idna==3.1
multidict==5.1.0
mysql-connector-python==8.0.23
numpy==1.20.1
Pillow==8.1.2
pkg-resources==0.0.0
protobuf==3.15.6
pycparser==2.20
python-lichess==0.9
ratelimiter==1.2.0.post0
requests==2.25.1
six==1.15.0
tinycss2==1.1.0
typing-extensions==3.7.4.3
urllib3==1.26.5
webencodings==0.5.1
yarl==1.6.3
