<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>Error {{ code }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
<div>
    <img src="{{ url_for('static', filename='images/logo-red-render.png') }}"><br/>
    <span class="red">{{ code }}</span> {{ description }}<br/><br/>
    <a href="https://discord.gg/KdpvMD72CV">report</a>
</div>
</body>
</html>